.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background-image: url('../images/background.png');
  background-repeat: no-repeat; /* you know... don't repeat... */
  background-position: center center; /*center the background */
  background-attachment: fixed; /*don't scroll with content */
  background-size: cover;
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.content,
.footer {
  padding-left: 7px;
  padding-right: 7px;
}

/* Custom page header */
.header {
  margin-bottom: 5px;
}

.header ul.header-nav-list {
  font-size: 2em;
}

.content {
  color: #111;
  max-width: 60%;
  font-size: 2em;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
}

.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.big-front-text {
  padding-top: 30px;
  padding-bottom: 0;
  font-size: 4em;
  line-height: 0.62em;
  letter-spacing: -4px;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

  .big-front-text {
    font-size: 6em;
    letter-spacing: -6px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /*.container {
      max-width: 730px;
    }*/
  .big-front-text {
    font-size: 8em;
    letter-spacing: -8px;

    padding-bottom: 30px;
  }

  .header,
  .content,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

  .big-front-text {
    font-size: 9em;
    letter-spacing: -9px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .big-front-text {
    font-size: 10em;
    letter-spacing: -10px;
  }
}
